
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;300;600&display=swap');


body {
    margin: 0 auto;
    padding: 0;
    font-family: 'JetBrains Mono';
    font-weight: 100;
    background: black;
    box-sizing: border-box;
}

header {
    margin: 0 auto;
    padding: 0;
    font-size: 3.2em;
    font-weight: 300;
    text-align: center;
}

h1 {
    margin: 0;
    color: white
}

#startBtn {
    font-family: 'JetBrains Mono';
    font-weight: 300;
    font-size: 2em;
    margin: 0;
}

#startBtn:hover {
    filter: invert(66%) sepia(85%) saturate(2397%) hue-rotate(184deg) brightness(90%) contrast(91%);

}

#wrapper {
    margin: 6em auto;
    padding: 3em;
    border: 1px rgb(20,20,20) solid;
    background: white
}

#subwrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


#left {
    display: flex;
    flex-direction: row;
    width: 40%;
    justify-content: space-around;
    /* background-color: green; */
}

#right {
    width: 40%;

}
#right-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 180px;
    margin: 1.6em auto;

}

#next {
    margin: .1em;
    cursor: pointer;
}
#image-div {
    width: 45%;
    margin: .2em;

}

#topic-form {
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    padding: 1.4em;
    width: 35%;
}

select  {
    font-size: 1.3em;
    font-family: monospace;
    outline: none;
    background-color: black;
    color: white;
    padding: .5em;
    margin-top: .2em;
}

#question-div {
    display: flex;
    flex-direction: column;
    padding: 1.4em;
    text-align: right;
}

#question {
    border: 1px solid rgb(109, 109, 109);
    font-size: 1.4em;
    padding: 1em
}

input {
    font-size: 1.1em;
    font-family: 'JetBrains Mono';
    color: rgb(255, 255, 255);
    background: rgb(61, 61, 61);
    padding: .5em;
    margin: 1em;
    border: none;
    outline: none;
}
input[type='radio'] { 
    opacity: 0;
    position: fixed;
    width: 0;
}

 label {
    display: inline-block;
    margin: .4em;
    border: 1px rgb(20,20,20) dashed;
    background-color: rgb(255, 255, 255);
    color: rgb(114, 114, 114);
    padding: .3em .4em;
    font-family: 'JetBrains Mono';
    font-size: 1.1em;
    border-radius: 2px;
}
input[type="radio"]:checked + label {
    background-color:rgb(216, 216, 216);
    border: rgb(107, 107, 107) 1px solid;
    color: rgb(63, 63, 63);
}

#send {
    cursor: pointer;
    border: 1px solid grey;
    padding: .5em;
    text-align: center;
}

#send:hover {
    background-color: black;
    color: white;
}

.hidden {
    display: none
}

.correct {
    background-color: rgb(184, 228, 184)!important;
}

.incorrect {
    background-color: rgb(228, 184, 184)!important;
}

.inactive {
    filter: invert(98%) sepia(0%) saturate(5028%) hue-rotate(199deg) brightness(112%) contrast(73%);
    pointer-events: none;
}

#score {
    border: 1px grey solid;
    width: 20%;
    text-align:center
}

.highlighted {
    background-color: rgb(194, 202, 148);
    transform: scale(2);
}